.loading-screen-wrapper {
    z-index: 100000;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.6);
    width: 100vw;
    height: 100%;
    display: block;
}

.loading-screen-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mat-spinner-color::ng-deep circle{
    stroke-width: 3% !important;
    stroke: #217008;
}