//  ***** Disclamer *****
//  The Reset file resets any default html styles of the app.
//  *********************
//  Table of Contents:
//
//  1. Resets
//  Reset style settings
//  -----------------------------------------------
//  1. Resets
//  2. Browser Specific fixes
//  -----------------------------------------------
* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

//  2. Browser Specific fixes
//  -----------------------------------------------
//  IE scroll y

// For IE10+
.ie-scroll-y-auto {
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    overflow-y: auto;
  }
}

//  IE rem height
@for $i from 0 to 101 {
  .ie-height-#{$i}rem {
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      height: $i * 1rem;
    }
  }
}

//  Add the correct display in IE 10+.

template {
  display: none;
}

//    Add the correct display in IE 10.

[hidden] {
  display: none;
}

// Remove the inner padding in Chrome and Safari on macOS.

[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}
// 1. Correct the odd appearance in Chrome and Safari.
//  * 2. Correct the outline style in Safari.

[type='search'] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

//  Correct the cursor style of increment and decrement buttons in Chrome.

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}
